* {
    font-size: calc(min(20vw, 20vh));
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1px;
    background: black;
    height: calc(min(100vw, 100vh) - 20px);
    width: calc(min(100vw, 100vh) - 20px);
}

.tile {
    background: white;
}